<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/stylists">Stylists</a></li>
        <li role="presentation"><a href="/clients">Clients</a></li>
      </ul>
    </nav>
  </div>
  <div class="jumbotron">
    <h2>Client is already taken!</h2>
    <p>Sorry, add a different client</p>
  </div>
</div>
