<div class = "jumbotron">
  <h1>Welcome to your local hair salon!</h1>
</div>
<div class="container">
  <a href="/stylists"><button class = "btn btn-link">View Stylists</button></a>
  <hr>
  <a href="/clients"><button class = "btn btn-link">View Clients</button></a>
</div>
